.container {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    width: 29.5%;
    border: none;
    border-radius: 15px;
    background-color: var(--color-white);
    margin-right: 25px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 #ccc;

    &:hover {
        box-shadow: 0 0 10px 0 #ccc;
    }
}

// responsive
@media screen and (max-width: 1200px) {

    .wrapper {
        width: 100%;
    }
}


@media screen and (max-width: 800px) {
    .container {
        display: block;
    }

}