.navbar {
    margin: 30px 0;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #ccc;
    padding: 0 50px;

    
}

// navbar
.navbar-container {
    display: flex;
    align-items: center;
    
    .image {
        height: 65px;
        margin-left: 5px;
        cursor: pointer;
        padding: 15px;
    }
}

// Toolbar
.toolbar {
    display: flex;
    justify-content: flex-end;
}

.profile {
    display: flex;
    justify-content: space-between;

    h2 {
        margin: 0 20px;
        text-transform: uppercase;
    }
    
}

.profile-purple {
    background-color: #ccc;
}

.user-name {
    display: flex;
    align-items: center;
}

.btn {
    font-size: 18px;
    padding: 5px 10px;
    max-width: 100%;
    border-radius: 5px;
    border: none;
    color: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    
    &:hover {
        opacity: 0.9;
    }
}

.btn-logout {
    background-color: var(--color-red);
}

.btn-sign {
    background-color: var(--color-green);
}